body {
    font-family: Arial, sans-serif;
    padding: 0;
    background-color: #f3f3f3;
    margin: auto;
  }

.row {
    display: flex;
}

.row h2 {
    color: #318e88;
    font-size: 25px;
}
  
  .column {
    flex: 30%;
    padding: 3%;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

.recipe {
    flex: 1;
    display: inline;
}

.recipe-card {
    background-color: white;
    border: 1px solid #ccc;
    padding: 5%;
    width: 100%;
    max-width: 400px;
    margin: auto;
    height: 90%;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.recipe-card h3 {
    color: #318e88;
    font-size: 25px;
}

.left {
    background-color: #fefefe;
}

.right {
    background-image: url('images/healthy-meal.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.a {
    background-color: white;
}



  @media screen and (max-width: 600px) {
    .column {
      width: 100%;
    }
  }
  
  .Welcome {
    background-color: #ffffff;
    text-align: left;
    padding: 30px;
    padding-top: 50px;
  }
  
  .Welcome h1 {
    font-size: 40px;
    color: #318e88;
    margin-bottom: 20px;
  }
  
  .Welcome p {
    font-size: 25px;
    color: #318e88;
  }
  
  .Welcome form {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 20px;
  }
  
  .Welcome input[type="text"] {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    flex: 1;
    max-width: 300px;
    margin-right: 10px;
    flex-basis: calc(100% - 110px); /* Set the initial width to take available space */
  }
  
  .Welcome button {
    padding: 8px 10px;
    background-color: #318e88;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .Welcome button:hover {
    background-color: #217872;
  }

@media (max-width: 768px) {
.Welcome {
    text-align: center;
}

.Welcome form {
    justify-content: center;
}

.Welcome input[type="text"] {
    max-width: none;
    margin-right: 0;
    margin-bottom: 10px;
}
}
  
.secondary-navigation {
    background-color: #aed3d0;
    padding: 10px 0;
  }
  
  .secondary-navigation ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
  }
  
  .secondary-navigation li {
    margin-right: 20px;
  }
  
  .secondary-navigation li:last-child {
    margin-right: 0;
  }
  
  .secondary-navigation a {
    color: #4a4949;
    text-decoration: none;
    padding: 10px 20px;
  }

  .secondary-navigation li a:hover {
    color: #09248e;
    text-decoration: none;
    }
  
  @media (max-width: 768px) {
    .secondary-navigation ul {
      flex-wrap: wrap;
    }
  
    .secondary-navigation li {
      margin-right: 10px;
      margin-bottom: 10px;
    }
  }

  .secondary-navigation li + li::before {
    content: " | ";
    color: 4a4949;
  }
  
  
/* Styles for larger screens */
.top-menu-navigation {
  background-color: #318e88;
  padding: 22px 0;
  position: fixed;
  width: 100%;
}

.top-menu-navigation ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: right;
}

.top-menu-navigation li {
  margin-right: 20px;
}

.top-menu-navigation li:last-child {
  margin-right: 0;
}

.top-menu-navigation a {
  color: white;
  text-decoration: none;
  padding: 10px 20px;
}

.top-menu-navigation li a:hover {
    color: #09248e;
    text-decoration: none;
    }

@media (max-width: 768px) {
.top-menu-navigation {
padding: 10px 0;
position: fixed;
width: 100%;
}

.top-menu-navigation ul {
justify-content: center;
flex-wrap: wrap;
}

.top-menu-navigation li {
margin-right: 10px;
margin-bottom: 5px;
margin-top: 5px;
}
}

.Login {
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 40px;
    border-radius: 5px;
    max-width: 400px;
    text-align: center;
    width: 100%;
}
  
.Login h1 {
margin-bottom: 20px;
color: #333;
}

.Login p {
color: #282828;
margin: 0;
margin-top: 10px;
}

.Login form {
display: flex;
flex-direction: column;
}

.Login div {
display: flex;
flex-direction: column;
margin-bottom: 20px;
}

.Login label {
font-weight: bold;
margin-bottom: 5px;
color: #555;
}

.Login input {
padding: 10px;
border: 1px solid #ccc;
border-radius: 3px;
font-size: 16px;
}

.Login button {
background-color: #318e88;
color: #fff;
border: none;
padding: 12px 20px;
font-size: 16px;
cursor: pointer;
border-radius: 3px;
}

.Login button:hover {
background-color: #217872;
}

.Signup {
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 40px;
    border-radius: 5px;
    width: 300px;
    text-align: center;
}

.Signup h1 {
    margin-bottom: 20px;
    color: #333;
}

.Signup form {
    display: flex;
    flex-direction: column;
}

.Signup div {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.Signup label {
    font-weight: bold;
    margin-bottom: 5px;
    color: #555;
}

.Signup input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: 16px;
}

.Signup button {
    background-color: #318e88;
    color: #fff;
    border: none;
    padding: 12px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 3px;
}

.Signup button:hover {
    background-color: #217872;
}

main {
    padding-bottom: 60px;
  }
  
.breakfast_dishes {
padding: 10%;
}

.view-recipe-button {
    padding: 15px 30px;
    background-color: #318e88;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: right;
    justify-content: right;
    align-items: right;
    margin: auto;
}

.view-recipe-button:hover {
    background-color: #217872;
}

.Login-signup p {
    color: #323232;
    font-size: 15px;
    text-align: left;
    padding: 5%;
    padding-top: 0;
}

@media (max-width: 768px) {
    .Login-signup p {
        color: #323232;
        font-size: 15px;
        text-align: left;
        padding: 8%;
        padding-top: 0;
    }
}

.recipe-section-title {
    font-size: 20px;
    padding-bottom: 0;
}

.recipe-section-title h2 {
    color: #318e88;
    padding: 4%;
    padding-bottom: 0;
}

.recipe-full-page {
    background-color: white;
    border: 1px solid #ccc;
    padding: 20px;
    width: 100%;
    justify-content: space-evenly;
    max-width: 600px;
    margin: auto;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.recipe-full-page h3 {
    color: #318e88;
    font-size: 25px;
    margin-bottom: 10px;
}

.recipe-image {
    width: 100%;
    max-height: auto;
    object-fit: cover;
    margin-bottom: 10px;
}

ul {
    margin: 0;
    padding-left: 20px;
}

.save-button,
.remove-button {
    padding: 8px 16px;
    font-size: 16px;
    background-color: #318e88;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
}

.save-button:hover,
.remove-button:hover {
    background-color: #348e3d;
}

.search-results {
    display: inline;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 5%;
}

.Explore-recipes {
    height: 300px;
    align-items: flex-end;
}

.Recipe-highlight {
    background-image: url('images/Vegan-Pancakes.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 300px;
    color: #318e88;
    padding: 20px;
}

.footer {
    background: #318e88;
    padding: 30px 0px;
    text-align: center;
    font-size: 18px;
}

.footer .row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 1% 0%;
    padding: 0.6% 0%;
    color: white;
    font-size: 0.8em;
}

.footer .row a {
    text-decoration: none;
    color: white;
    transition: 0.5s;
}

.footer .row ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer .row ul li {
    display: inline-block;
    margin: 0px 10px;
    position: relative;
}

.footer .row ul li:not(:last-child)::after {
    content: "|";
    position: absolute;
    right: -15px;
}

.footer .row a i {
    font-size: 2em;
    margin: 0% 1%;
}

.footer li a:hover {
    color: #09248e;
    text-decoration: none;
}

.breadcrumb {
    padding-left: 5%;
}

ul.breadcrumb {
    padding: 10px 12px;
    list-style: none;
    background-color: #ffffff00;
    color: #343434;
  }
  
ul.breadcrumb li {
display: inline;
font-size: 18px;
}

ul.breadcrumb li+li:before {
padding: 8px;
color: black;
content: "/\00a0";
}

ul.breadcrumb li a {
color: #0275d8;
text-decoration: none;
}

ul.breadcrumb li a:hover {
color: #01447e;
text-decoration: underline;
}

.card {
    background-color: #ffffff;
    padding: 3%;
    padding-left: 15%;
    padding-right: 15%;
    padding-top: 0;
  }
  
.card h1 {
    color: white;
    font-size: 30px;
}

  /* Add some padding inside the card container */
  .container {
    padding: 3%;
    background-color: #318e88;
    margin-top: -8px;
    color: white;
  }

  @media (max-width: 768px) {
    .card {
        background-color: #ffffff;
        padding: 5%;
        padding-left: 8%;
        padding-right: 8%;
      }
      
    .card h1 {
        color: white;
        font-size: 30px;
    }
    
    .container {
    padding: 2px 16px;
    background-color: #318e88;
    color: white;
    margin-top: -5px;
    }
}

@media screen and (max-width: 768px) {
    .recipe-grid-container {
        grid-template-columns: 1fr;
    }

    .small-card {
        margin: 5%;
    }
}

.small-card {
    max-width: 500px;
    margin: 2%;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.small-card img {
    width: 100%;
}

.small-card h3 {
    color: #ffffff;
    font-size: 24px;
    margin-bottom: 10px;
}

.small-card p {
    font-size: 16px;
}

.small-container {
    background-color: #318e88;
    color: white;
    padding: 15px;
    margin-top: -5px;
}

.recipe-grid-container {
    display: flex;
    height: auto;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 20px;
    justify-content: center;
}

.recipe-grid-container a {
    text-decoration: none;
    color: white;
}

.recipe-details {
    padding-top: 15%;
    justify-content: center;
}

.recipe-details {
    max-width: 600px;
    padding: 50px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    background-color: #f9f9f9;
    padding-top: 10%;
    margin: auto;
}

.recipe-image {
    max-width: 100%;
}