body {
    font-family: Arial, sans-serif;
    padding: 0;
    background-color: #f3f3f3;
    margin: auto;
  }

.row {
    display: flex;
}

.row h2 {
    color: #318e88;
    font-size: 25px;
}
  
  .column {
    flex: 30%;
    padding: 3%;
    align-items: center;
    justify-content: center;
    text-align: center;
  }


/* .container {
    display: flex;
    justify-content: center;
} */

.recipe {
    flex: 1;
    display: inline;
}

.recipe-card {
    background-color: white;
    border: 1px solid #ccc;
    padding: 5%;
    width: 100%;
    max-width: 400px;
    margin: auto;
    height: 300px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;}

.recipe-card h3 {
    color: #318e88;
    font-size: 25px;
}

.left {
    background-color: #fefefe;
}

.right {
    background-image: url('images/healthy-meal.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.a {
    background-color: white;
}



  @media screen and (max-width: 600px) {
    .column {
      width: 100%;
    }
  }
  
  .Welcome {
    background-color: #ffffff;
    text-align: left;
    padding: 30px;
    height: auto;
    padding-left: 20%;
  }
  
  .Welcome h1 {
    font-size: 40px;
    color: #318e88;
    margin-bottom: 20px;
    width: 50%;
  }

  .Welcome p {
    font-size: 25px;
    color: #318e88;
    width: 50%;

  }
  
  .Welcome form {
    display: flex;
    justify-content: left;
    align-items: left;
    margin-top: 20px;
    width: 50%;
  }
  
  .Welcome input[type="text"] {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 300px;
    margin-right: 10px;
  }
  
  .Welcome button {
    padding: 8px 15px;
    background-color: #318e88;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

  .Welcome button:hover {
    background-color: #217872;
  }
  
.secondary-navigation {
    background-color: #aed3d0;
    padding: 10px 0;
  }
  
  .secondary-navigation ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
  }
  
  .secondary-navigation li {
    margin-right: 20px;
  }
  
  .secondary-navigation li:last-child {
    margin-right: 0;
  }
  
  .secondary-navigation a {
    color: white;
    text-decoration: none;
    padding: 10px 20px;
  }
  
  .top-menu-navigation {
    background-color: #318e88;
    padding: 22px 0;
  }
  
  .top-menu-navigation ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: right;
  }
  
  .top-menu-navigation li {
    margin-right: 20px;
  }

  .top-menu-navigation li + li::before {
    content: " | ";
    color: white;
  }
  
  .top-menu-navigation li:last-child {
    margin-right: 0;
  }
  
  .top-menu-navigation a {
    color: white;
    text-decoration: none;
    padding: 10px 20px;
  }

.Login {
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 40px;
    border-radius: 5px;
    width: 300px;
    text-align: center;
}

.Login h1 {
    margin-bottom: 20px;
    color: #333;
}

.Login p {
    color: #282828;
    margin: 0;
    margin-top: 10px;
}

.Login form {
    display: flex;
    flex-direction: column;
}

.Login div {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.Login label {
    font-weight: bold;
    margin-bottom: 5px;
    color: #555;
}

.Login input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: 16px;
}

.Login button {
    background-color: #318e88;
    color: #fff;
    border: none;
    padding: 12px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 3px;
}

.Login button:hover {
    background-color: #217872;
}

.Signup {
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 40px;
    border-radius: 5px;
    width: 300px;
    text-align: center;
}

.Signup h1 {
    margin-bottom: 20px;
    color: #333;
}

.Signup form {
    display: flex;
    flex-direction: column;
}

.Signup div {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.Signup label {
    font-weight: bold;
    margin-bottom: 5px;
    color: #555;
}

.Signup input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: 16px;
}

.Signup button {
    background-color: #318e88;
    color: #fff;
    border: none;
    padding: 12px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 3px;
}

.Signup button:hover {
    background-color: #217872;
}

main {
    padding-bottom: 60px;
  }
  
  footer {
    margin: auto;
    position: relative;
    bottom: 0;
    width: 100%;
    background-color: #318e88;
    color: #fff;
    padding: 15px 0;
    text-decoration: none;
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
  }
  
  .footer-content {
    text-align: center;
  }
  
  .footer-content p {
    font-size: 14px;
  }
  
  footer a {
    color: #ffffff;
    text-decoration: none;
  }

  footer ul {
    list-style: none;
    margin: 0;
    padding: 0;
    justify-content: right;
    padding: 50px;
    display: block;
  }

  .footer li + li::before {
    content: " | ";
    color: white;
  }
  
  .breakfast_dishes {
    padding: 10%;
  }

  .view-recipe-button {
    padding: 8px 15px;
    background-color: #318e88;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
}

.view-recipe-button :hover {
    background-color: #217872;
}

.login-signup {
    padding: 4%;
    background-color: rgb(160, 65, 28);
    color: white;
}

.login-signup h2 {
    font: #318e88;
    font-size: 25px;
}

.recipe-section-title {
    font-size: 20px;
    font: #318e88;
    padding-left: 5%;
    padding: 2%;
    padding-bottom: 0;
}

.recipe-section-title h2 {
    font: #318e88;
}